<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
    </header>
    <main class="mt-3">
        <div class="car-announcement-data d-flex justify-content-between w-100">
            <div class="bg-image-announcement-details text-center w-30">
                <span style="visibility: hidden">....</span>
                <div class="text-center mt-5">
                    <img th:src="${announcement.pictureUrl}" width="200" height="200" alt="announcement">
                </div>
                <div class="row">
                    <div class="col col-md-12 mt-5 text-dark">
                        <h1 th:utext="'Brand: ' + ${announcement.brandName}"></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12 text-dark">
                        <h4 th:utext="'Model: ' + ${announcement.modelName}"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12 text-dark">
                        <h4 th:utext="'Fuel Type: ' + ${announcement.fuelType}"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12 text-dark">
                        <h4 th:utext="'Usability: ' + ${announcement.usability}"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12 text-dark">
                        <h4 th:utext="'Transmission Type: ' + ${announcement.transmissionType}"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12 text-dark">
                        <h4 th:utext="'Propulsion: ' + ${announcement.propulsion}"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12 text-dark">
                        <h4 th:utext="'Color: ' + ${announcement.color}"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12 mt-3 text-dark">
                        <h4 th:utext="'Description: ' + ${announcement.description}"></h4>
                    </div>
                </div>
                <span style="visibility: hidden">....</span>
            </div>
            <div class="w-60 bg-faded-ad car-announcement-comments">
                <h2 class="text-center text-white font-weight-bold mt-3">Comments</h2>
                <hr style="height: 2px;" class="bg-dark w-75"/>
                <div class="comments mx-4 mb-3">
                    <th:block th:each="comment : ${announcement.comments}">
                        <div class="comment border-black-2 rounded px-3 py-2 mt-2" th:id="${comment.id}">
                            <div class="d-flex justify-content-between">
                                <h5 class="text-left text-white font-weight-bold"
                                    th:text="${comment.userUsername}"></h5>
                                <th:block th:if="${comment.userUsername} == ${usersCommentUsername}">
                                    <button class="btn bg-transparent delete-comment"><span
                                            style="font-size: 25px;">&#9746;</span></button>
                                </th:block>
                            </div>
                            <p class="text-white " th:text="${comment.content}"></p>
                        </div>
                    </th:block>
                </div>
                <hr style="height: 2px;" class="bg-dark w-75 mt-3"/>
                <div class="comment-form">
                    <div class="form-group d-flex justify-content-around">
                        <input type="text" class="form-control w-75" name="content" id="content"
                               placeholder="Comment here..."/>
                        <button id="comment-button" type="button" class="btn btn-dark">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
<script th:inline="javascript">
    let commentTemplate =
        '<div class="comment border-black-2 rounded px-3 py-2 mt-2" id="(commentId)">' +
        '    <div class="d-flex justify-content-between">' +
        '        <h5 class="text-left text-white font-weight-bold">(commentUserUsername)</h5>' +
        '        <button class="btn bg-transparent delete-comment"><span style="font-size: 25px;">&#9746;</span></button>' +
        '    </div>' +
        '    <p class="text-white">(commentContent)</p>' +
        '</div>';

    let carAnnouncementId = [[${announcement.id}]];

    $('#comment-button').click(function () {
        let commentContent = $('#content').val();

        if (commentContent.length > 0) {
            fetch(`/announcement/details/${carAnnouncementId}/comment`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({content: commentContent})
            })
                .then(response => response.json())
                .then(json => {
                    let newComment = $(commentTemplate
                        .replace('(commentId)', json.id)
                        .replace('(commentUserUsername)', json.userUsername)
                        .replace('(commentContent)', json.content));

                    $('.comments').append(newComment);

                    $('.delete-comment:last-child').click(function () {
                        let commentElement = $(this).parent().parent();
                        let id = commentElement.attr('id');

                        fetch(`/announcement/comments/delete/${id}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => response.json())
                            .then(json => {
                                $(commentElement).remove();
                            })
                            .catch(err => {
                                throw err;
                            });
                    });
                })
                .catch(err => {
                    throw err;
                });
        }
    });

    $('.delete-comment').click(function () {
        let commentElement = $(this).parent().parent();
        let id = commentElement.attr('id');

        fetch(`/announcement/comments/delete/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(json => {
                $(commentElement).remove();
            })
            .catch(err => {
                throw err;
            });
    });
</script>
</body>
</html>